Source: xivo-res-freeze-check
Section: comm
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), asterisk-dev (>= 8:18)
Standards-Version: 3.9.6

Package: xivo-res-freeze-check
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, asterisk (>= 8:18) | asterisk-virtual
Description: Simple asterisk module to check for asterisk freezes
 .
 res_freeze_check is a simple asterisk module to help detect some common asterisk
 freezes.
