Source: xivo-res-freeze-check
Section: comm
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9), asterisk-dev (> 8:14)
Standards-Version: 3.9.6

Package: xivo-res-freeze-check
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, asterisk (> 8:14)
Description: Simple asterisk module to check for asterisk freezes
